
$dark-primary-color:#a5613c
$light-primary-color:#683309 
$prymary-color: #2e1201

//элементы управления
$text-icons:#FFFFFF
$backlight-text-icons:#a39ebb

//текс описания
$primary-text:#212121
$secondary-text:#757575

//кнопки и т.д.
$accent-color:#009688

//разделитель
$divider-color:#BDBDBD
