
$dark-primary-color:#5D4037
$light-primary-color:#D7CCC8
$prymary-color: #795548

//элементы управления
$text-icons:#FFFFFF
$backlight-text-icons:#212121

//текс описания
$primary-text:#212121
$secondary-text:#757575

//кнопки и т.д.
$accent-color:#009688

//разделитель
$divider-color:#BDBDBD
