.eachSlide 
    div 
        display: flex
        align-items: center
        justify-content: center
        background: no-repeat center 
        background-size: cover    
        
.ImageSlider
    margin: 0 auto
    background: url('./bg-slider1.gif') center no-repeat
 

    
        
    


