@import '../../defaultStyle/variables'

body
    background: url('../../img/bg/bg.jpg') left no-repeat 
    background-size: cover  
.layout
    display: flex
    // height: 100%
    flex-direction: column
    
    .main
        flex-grow: 1
        
        
