@import '../../defaultStyle/variables'
    
.GoogleMaps
    width: 100%
    padding: 2rem
    color: $text-icons
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr) )
    font-family: 'light'
    
    
.adress
    align-self: center
    justify-self: center
    margin-bottom: 6rem
    font-size: 3rem



.map
    position: relative
    z-index: 1

.adr, .tel
    p
        &:nth-child(1)
            margin-bottom: 1rem
            font-family: 'bold'

.adr 
    margin-bottom: 2rem
    
.tel
    border-top: 3px solid $divider-color
    padding-top: 2rem